*{
  margin: 0;
  padding: 0;
}

/* =========================
      Common css start
   ========================= */
.container{
  width: 1400px;
  margin: 0 auto;
}

.box{
  display: flex;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
  display: inline-block;
}
/* =========================
      Common css end
   ========================= */

/* =========================
      Navbar css start
   ========================= */

nav{
  background-color: #FAE3B6;
  padding: 47px 0px;
}
nav .box{
  align-items: center;
}
.logo{
  width: 22%;
  
}
.menue{
  width: 50%;
  
}
.menue ul{
  display: flex;
  column-gap: 59px;
  position: relative;
}
.menue ul li{
  color: black;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.menue ul li:hover{
  color: #FDBB57;
}

.button{
  width: 28%;
  text-align: right;

}
.button a{
  background-color: #FDBB57;
  padding: 10px 15px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #050505;
  font-weight: 600;
  border-radius: 10px;
  display: inline-block;
  border: 1px solid transparent;
}
.button a:first-child{
  margin-right: 5px;
}

.button a:hover{
  background-color: #FAE3B6;
  border-color: rgba(0, 0, 0, 0.10);
  box-shadow: 0px 7px 9px -4px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 7px 9px -4px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 7px 9px -4px rgba(0,0,0,0.15);
}
  
/* =========================
      Navbar css end
   ========================= */

 /* =========================
      Bannar css start
   ========================= */
   .bannar{
    background-color: #FAE3B6;
    padding-top: 117px;
    padding-bottom: 102px;
   }
   .bannar-contant{
    width: 50%;
   }

   .bannar h1{
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    font-weight: 600;
    width: 538px;
   }
   .bannar p{
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding-top: 38px;
    padding-bottom: 76px;
    width: 531px;
   }

   .bannar a{
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 25px 91px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: .4s;
   }

   .bannar a:hover{
    background-color: #FAE3B6;
    color: black;
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px -2px 35px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -2px 35px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 35px -3px rgba(0,0,0,0.75);    
   }
   .bannar-image{
    width: 50%;
    margin-right: 42px;
    
   }

   /* =========================
          Bannar css end
   ========================= *


   /* ===================================
          Collection part css start
   ====================================== */  

   .Collection{
    padding-top: 217px;
    padding-bottom: 188px;
    position: relative;
   }

  .Collection h2{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    font-family: "Frank Ruhl Libre", serif;
    padding-bottom: 108px;
  }
  .Collection .box{
    justify-content: space-between;
    
  }

  .Collection .item{
    width: 349px;
    height: 402px;
    position: relative;
    overflow: hidden;
  }

  .Collection .item img{
    width: 100%;
    height: 100%;
  }

  .Collection .overly{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    left: 0%;
    top: 100%;
    border-radius: 20px;
    transition: .4s;
    
  }

  .Collection .item:hover .overly{
    top: 0;
  }

  .Collection .item .overly a{
    color: black;
    font-size: 24px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    background-color: white;
    padding: 9px 108px;
    border-radius: 20px;
    position: absolute;
    top: 283px;
    left: 18px;
  }
  
  .Collection .or{
    position: absolute;
    top: 60%;
    left: 90%;
  }
    
    /* ===================================
          Collection part css end
   ====================================== */ 




   /* ===================================
          Fashion part css start
   ====================================== */  

  .fashion{
    margin-top: 100px;
    margin-bottom: 300px;
  }

  .fashion .box{
    align-items: center;
  }

  .fashion .left{
    
  }

  .fashion .left img{
    width: 725px;
    height: 734px;
  }

  .fashion .right{
    
    padding-left: 35px;
    
  }
  
  .fashion .right h2{
   width: 437px;
   color: black;
   font-size: 64px;
   font-weight: 700;
   font-family: "Frank Ruhl Libre", serif;
   padding-bottom: 63px;
  }

  .fashion .right p{
    width: 443px;
    color: black;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;

  }

  .fashion .result {
    width: 793px;
    height: 280px;
    background-color: #FEECC8;
    border-radius: 20px;
    display: flex;
    margin-left: 495px;
    margin-top: -82px;
  }

  .n1{
    width: 257px;
   
  }
  .n1 h3{
    font-size: 64px;
    font-weight: 700;
    font-family: "Podkova", serif;
    color: black;
    padding-left: 80px;
    padding-top: 72px;
  }
  .n1 p{
    font-size: 28px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: black;
    padding-left: 89px;
    padding-top: 20px
  }
  .line{
    width: 2px;
    height: 160px;
    background: black;
    margin-top: 60px;
  }
  .n2{
    width: 265px;
   
  }
  .n2 h3{
    font-size: 64px;
    font-weight: 700;
    font-family: "Podkova", serif;
    color: black;
    padding-left:50px;
    padding-top: 72px;
  }
  .n2 p{
    font-size: 28px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: black;
    padding-left: 50px;
    padding-top: 20px
  }
  .n3{
    width: 252px;
   
  }
  .n3 h3{
    font-size: 64px;
    font-weight: 700;
    font-family: "Podkova", serif;
    color: black;
    padding-left:40px;
    padding-top: 72px;
  }
  .n3 p{
    font-size: 28px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: black;
    padding-left: 35px;
    padding-top: 20px

  }

   /* ===================================
          Fashion part css end
   ====================================== */
   
   
   /* ===================================
          Product part css start
   ====================================== */  

   .Product{
    width: 100%;
    height: 828px;
    background-color: #CFA485;
    position: relative;

   }

   .Product .dot {
    position: absolute;
    top: -18%;
    left: 20%;
    z-index: -1;
}

   .Product .one{
    margin-top: 60px;
    margin-left: 90px;
    
   }
   

   .Product .one h2{
    width: 437px;
    color: white;
    font-size: 64px;
    font-weight: 700;
    font-family: "Frank Ruhl Libre", serif;
   }
   .Product .one p{
    width: 437px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: "Frank Ruhl Libre", serif;
    padding-top: 40px;
    padding-bottom: 60px;
   }
   .Product .one a{
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    background-color: black;
    padding: 25px 70px;
    border-radius: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: .4s;
   }

   .Product .one a:hover{
    background-color: #CFA485;
    color: black;
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px -2px 35px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -2px 35px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 35px -3px rgba(0,0,0,0.75);    
   }

   .Product .two{
    margin-top: 90px;
    margin-left: 40px;
    background-color: white;
    width: 366px;
    height: 551px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
  }

  .Product .two img{
    width: 366px;
    height: 424px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
  }

  .Product .two1{
    width: 366px;
    height: 127px;
    position: relative;
  }
  
  .Product .two1 .star{
    font-size: 17px;
    color: #FFAF37;
    display: flex;
    column-gap: 10px;
    position: absolute;
    top: 15px;
    left: 30px;
  }

  .Product .two:hover .star{
    color: #ffd04e;
    
  }

  .Product .two1 .p1{
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 42px;
    left: 30px;

  }
  .Product .two1 .p2{
    font-size: 24px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #C4C4C4;
    position: absolute;
    top: 80px;
    left: 30px;

  }

  .Product .two1 .p2::after{
    width: 0%;
    height: 1px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 0%;
    content: "";
    transition: .4s;
  }
  .Product .two:hover .p2::after{
    width: 100%;
    background-color: #a5a5a5;
  }
  
  .Product .two1 .p3{
    font-size: 24px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #222222;
    position: absolute;
    top: 80px;
    left: 160px;

  }
  .Product .two:hover .p3{
    font-size: 26px;
    font-weight: 500;
    color: #000000;
  }

  .Product .two:nth-child(3) img{
    width: 368px;
    margin-left: -2px;
  }

  
   /* ===================================
          Product part css end
   ====================================== */  